<div class="crumbs">
  <div><%= link_to "Politwoops", root_path %> »</div>
  <% if @query %>
    <div>Deleted Tweets mentioning '<%= @query %>'</div>
  <% elsif @state %>
    <div>Deleted Tweets from <%= Politician::STATES[@state.to_sym] %> politicians</div>
  <% end %>
</div>

<h1 class="app-name">Politwoops</h1>
<h2 class="app-dek">Explore the Tweets They Didn't Want You to See</h2>
<p class="byline">Originally published by <a href="http://sunlightfoundation.com/">The Sunlight Foundation</a>. Updated regularly.</p>

<p class="guff">Politwoops tracks deleted tweets by public officials, including people currently in office and candidates for office. If you think we're missing someone, please <a href="mailto:politwoops@propublica.org">email us</a> with their name, state, political party, office they hold or are seeking and, of course, their Twitter handle.</p>
<p class="guff">Are your deleted tweets displayed here but you think they shouldn't be? Here's <%= link_to "how to let us know", remove_path %>.</p>

<div class="inner-search">
  <%= render :template => "shared/search" %>
</div>

<% content_for :feeds do %>
  <% if @politician %>
    <%= auto_discovery_link_tag :rss, politician_url(@politician.user_name, :format => :rss) %>
  <% elsif @query %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss, :q => @query) %>
  <% else %>
    <%= auto_discovery_link_tag :rss, index_url(:format => :rss) %>
  <% end %>
<% end %>

<% if @tweets.nil? %>
  No results for the filter options you selected.
<% else %>
  <%= render :partial => "tweets/tweet", :collection => @tweets, :object => :tweet %>

  <%= render :template => "shared/pager" %>

  <%= render :template => "shared/screenshotbox" %>
<% end %>
