<% content_for :title do %>
   Politicians We Follow - Politwoops - ProPublica
<% end %>

<h1 class="app-name">Politicians We Follow</h1>

<%= render :template => "shared/filterform" %>

<div class="caveat"><p>This may be an incomplete list. If you think we're missing someone, please <a href="mailto:politwoops@codeforafrica.org">email us</a> with their Name, State, Political Party, Office they hold or are seeking and, of course, Twitter handle. Thanks!</p>
</div>

	<table class="politicians">
		<tbody>
		<% @politicians.each do |pol|%>
		<tr>
			<td class="img">
        <img src="<%= default_avatar_url(pol) %>"
             class="politician-avatar"
             data-lateimg-src="<%= pol.avatar.url %>"
             alt="<%= pol.user_name %>"
             width"73"
             height="73" />
			</td>
			<td class="name">
				<span>
					<%= link_to pol.display_name, politician_path(pol.user_name) %>
				</span>
			</td>
			<td class="state">
				<span>
				<% if pol.state %> <%= pol.display_state %> <% end %>
				</span>
			</td>
			<td class="office">
				<span>
				<% if pol.office %><%= pol.office.title %> <% end %>
				</span>
			</td>

			<td class="party">
				<span>
				<% if pol.party %> <%= pol.party.display_name %> <% end %>
				<% if pol.status ==  4 %><em>inactive</em> <% end %>
				</span>
			</td>
		</tr>
		<% end %>
		<tbody>
	</table>


        <%= render :template => "shared/pager" %>
