<% content_for :title do %>
  Deleted tweets for <%= office_title_for(@politician) %> <%= @politician.first_name %> <%=@politician.last_name %>, <%= party_name_for(@politician) %><% if @politician.display_state %>-<%= @politician.display_state %><% end %><% if @page > 1 %> (Page <%= @page %>)<% end %>
<% end %>

<div class="crumbs">
  <div><%= link_to "Politwoops", root_path %> »</div>
  <div>Deleted Tweets from <%= @politician.display_name %>, <%= party_name_for(@politician) %><% if @politician.display_state %>-<%= @politician.display_state %><% end %></div>
</div>

<h1 class="app-name">Politwoops</h1>
<h2 class="app-dek">Deleted Tweets from <%= @politician.display_name %>, <%= party_name_for(@politician) %><% if @politician.display_state %>-<%= @politician.display_state %><% end %></h2>
<p class="byline">Originally published by <a href="http://sunlightfoundation.com/">The Sunlight Foundation</a>. Updated regularly.</p>

<div id="info">
  <p class="about"><%= @politician.display_name %>'s accounts: <%= display_accounts(@accounts) %></p>
</div>
<div id="all-container" class="tweet-content-container">
    <%= render :partial => "tweets/tweet", :collection => @tweet_map['all'], :object => :tweet %>
</div>

<% @accounts.each do |acc| %>
    <div style="display:none;" class="tweet-content-container" id="<%= acc.user_name %>-container">
        <% @tweet_map[acc.user_name].each do |tw| %>
            <%= render :partial => "tweets/tweet", :locals => {:tweet => tw} %>
        <% end %>
    </div>
<% end %>

<script type="text/javascript">
    jQuery('a.accountHandle span').click(function(){
       jQuery('ul.accountList li').removeClass('active');
       jQuery(this).parents('li').addClass('active');

       jQuery('.aboutAccount').hide();
       jQuery('div#info div#' + jQuery(this).parents('li').attr('id').replace('-label', '')).show();

       jQuery('.tweet-content-container').hide();
       jQuery('#' + jQuery(this).parents('li').attr('id').replace('-label', '-container')).show();
       return false;

    });

</script>

<%= render :template => "shared/pager" %>

<%= render :template => "shared/screenshotbox" %>
